body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}


/* Effet Parallax */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Parallax image1 */

.bgimg-1 {
    background-image: url("/assets/img/parallax_narbonne.jpg");
    min-height: 100%;
}


/* Parallax image2 */

.bgimg-2 {
    background-image: url("/assets/img/parallax_competences.jpg");
    min-height: 420px;
}


/* Parallax image3 */

.bgimg-3 {
    background-image: url("assets/img/parallax_contact.jpg");
    min-height: 420px;
}

.w3-wide {
    letter-spacing: 10px;
    padding: 14px;
}

.w3-hover-opacity {
    cursor: pointer;
}


/* Parallax scrolling en off pour tablette et mobile */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
    }
}
